@import 'lib';

:root {
  .basic-font();
  font-size: 16px;
  height: 100%;
  width: 100vw;
}

.Root-_Day {
  .day();
}

.Root-_Night {
  .night();
}

body {
  .full-box();
}

#__next {
  .full-box();
}

a {
  cursor: pointer;
  text-decoration: none;
}
