@import 'lib';

:root {
  .basic-font();
  font-size: 16px;
  height: 100%;
  line-height: 1.3;
  width: 100vw;
}

.Root-_Day {
  .day();
}

.Root-_Night {
  .night();
}

body {
  .full-box();

  overflow-x: hidden;
}

#__next {
  .full-box();
}

.BasePage-NormalList {
  li {
    &:not(:first-child) {
      margin-top: 0.25em;
    }

    > ul {
      margin-top: 0.25em;
    }
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

code {
  background: #e2e2e2;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  font-family: 'Source Code Pro', Consolas, 'Courier New', Menlo, Monaco, 'Osaka−等幅', monospace;
  font-size: 0.8em;
  // font-weight: normal;
  margin: 0 0.15em;
  padding: 0.1em 0.15em 0;
  vertical-align: middle;
}

.BasePage-Footer {
  display: flex;
  justify-content: center;
}
