@import 'lib';

body .BigHeaderHero {
  .night();
  height: 100vh;

  &-ForeGround {
    .center-flex();
    flex-direction: column;
    height: 100vh;
    pointer-events: none;
    position: relative;
    z-index: @z-index[big-header-hero-fg];
  }

  &-Menu {
    .good-box();
    .center-flex();
    list-style: none;
    margin: 3rem 0 0;
    pointer-events: auto;
  }

  &-MenuItem {
    margin: 0 1rem;
  }

  &-Title {
    font-size: 3rem;
  }
}

.BigHeaderFixed {
  .center-flex();
  .night();
  height: 3rem;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  &-Title {
    .good-box();
    font-size: 2rem;
  }

  &-TitleLink {
    color: inherit !important;
    font-weight: bold;
  }
}
