.good-box() {
  margin: 0;
  padding: 0;
}

.full-box() {
  .good-box();
  height: 100%;
  width: 100%;
}

.center-flex() {
  align-content: space-around;
  align-items: center;
  display: flex;
  justify-content: center;
}

.basic-font() {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.code-font() {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@z-index: {
  modal: 10009;
}

@color-day-bg: #edeaf2;
@color-day-bg-pale: darken(@color-day-bg, 10%);

@color-day-fg: #08040c;
@color-day-fg-link: (@color-day-fg * 0.2 + #0000ff * 0.8);

.day() {
  background: @color-day-bg;
  color: @color-day-fg;

  // @see LinkButton.less
  a, .LinkButton {
    color: @color-day-fg-link;
  }
}

@color-night-bg: #040206;
@color-night-bg-pale: lighten(@color-night-bg, 10%);

@color-night-fg: #dddafe;
@color-night-fg-link: (@color-night-fg * 0.8 + #0000ff * 0.2);

.night() {
  background: @color-night-bg;
  color: @color-night-fg;

  // @see LinkButton.less
  a, .LinkButton {
    color: @color-night-fg-link;
  }
}
