@import 'lib';

.PageIndex {
  .day();

  &-Main {
    background: fade(#fff, 20%);
    padding: 0 1rem;
    margin: 0 1rem;
    max-width: 60rem;
    width: 100%;
  }

  &-MainContainer {
    .center-flex();
  }
}
